@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    @apply bg-pastel-gradient min-h-screen;
  }
}

@layer components {
  .safe-area-top {
    padding-top: env(safe-area-inset-top, 0);
  }
  
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
  
  .safe-area-left {
    padding-left: env(safe-area-inset-left, 0);
  }
  
  .safe-area-right {
    padding-right: env(safe-area-inset-right, 0);
  }
}